@use "styles" as *;

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .formField__label {
    margin-bottom: 4px;
  }

  .formField__input {
    outline: none;
    border: 1px solid $primary;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-family: "Poppins", sans-serif;
  }

  .formField__error {
    color: $danger;
  }
}
