@use "styles" as *;

.login {
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .login__header {
    color: $white;
    font-weight: 500;
    margin-bottom: 60px;
  }

  .login__form {
    width: 90%;
    max-width: 400px;
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .login__err {
    color: $danger;
    margin-bottom: 10px;
  }
}
